.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #0e507d, #093757);;
  height: 1020px;
  color: #fff
}

.Header{
padding: 30px;
}

/*HOME STYLING*/

.homeContent{
  padding: 40px;
  font-size: 28px;
}

